<div class="nav">
 

    <div class="dropdown">
        <button type="button" class="btn-Home btn-default" routerLink="home" >Home</button>
        <div class="dropdown-content">
            <button type="button" class="btn-Home btn-default" style="margin-bottom: 5px; margin-top: 5px;" (click)="redirctoTo('mayormenor')">Mayor o Menor</button>
            <button type="button" class="btn-Home btn-default" style="margin-bottom: 5px;" (click)="redirctoTo('ahorcado')" >Ahorcado</button>
            <button type="button" class="btn-Home btn-default" style="margin-bottom: 5px;" (click)="redirctoTo('preguntados')" >Preguntados</button>
            <button type="button" class="btn-Home btn-default" style="margin-bottom: 5px;" (click)="redirctoTo('shooter')" >Punteria</button>
        </div>
    </div>


    <button type="button" class="btn btn-default" routerLink="quiensoy">Quien Soy</button>

    @if(supaBase.currentUser() ===  null){
        <button type="button" class="btn btn-default" routerLink="login" >Login</button>
        <button type="button" class="btn btn-default" routerLink="registro" >Registro</button>
    }
    @else {
        <button type="button" class="btn btn-default" style="left: 23.3%; position: relative;" routerLink="resultados">Resultados</button>
        <button type="button" class="btn btn-default" style="left: 23.3%; position: relative;" routerLink="encuesta">Encuesta</button>
        <h3 style="margin-right: 15px; left: 38%; position: relative;"> <i style="margin-right: 10px;" class="fa-solid fa-circle-user"></i>      Usuario: {{this.supaBase.currentUser()?.email}}</h3>
        <button type="button" class="btn btn-default" style="left: 38%; position: relative;" (click)="signOutSession()">Cerrar Sesion</button>
    }

</div>
