
@font-face {
    font-family: "westernFont";
    src: url('../../../../../../../Downloads/dakota-font/DakotaRegular-eZpj6.ttf');
}

.nav {
    top: 0;
    width: 100%;
    background-color: #E73332;
    color: #fff;
    display: flex;
    padding: 0 16px;
    align-items: center;
    height: 76px;
    font-family: "westernFont";
  }

  .btn{
    background-color: rgba(190, 12, 12, 0.685);
    font-size: 22px;
    margin-right: 15px;
    width: 8%;
    border-color: bisque;
    transition: 1s;
    color: bisque;

    &:hover{
        background-color: black;
        border-color: bisque;
        color: #E73332;
    }

    &:focus{
        background-color: black;
        border-color: #E73332;
        color: bisque;
    }
}

.btn-Home{
    background-color: rgba(190, 12, 12, 0.685);
    font-size: 22px;
    margin-right: 15px;
    height: 45px;
    width: 100%;
    border: 1px solid bisque;
    transition: 1s;
    color: bisque;
    border-radius: 5px;

    &:hover{
        background-color: black;
        border-color: bisque;
        color: #E73332;
    }

    &:focus{
        background-color: black;
        border-color: #E73332;
        color: bisque;
    }
}

.btn-Home:hover .dropdown-content {display: block;}

h3{
    font-size: 25px;
    position: relative;
    color: bisque;
    text-shadow: 5px 5px 5px black;
    margin-right: 15px;
}

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    width: 8%;
    margin-right: 14px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    text-align: center;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

