<div class="nav">
 

    <div class="dropdown">
        <button type="button" class="btn-Home btn-default" routerLink="home" >Home</button>
        <div class="dropdown-content">
            <button type="button" class="btn-Home btn-default" style="margin-bottom: 5px; margin-top: 5px;" (click)="redirctoTo('mayormenor')">Mayor o Menor</button>
            <button type="button" class="btn-Home btn-default" style="margin-bottom: 5px;" (click)="redirctoTo('ahorcado')" >Ahorcado</button>
            <button type="button" class="btn-Home btn-default" style="margin-bottom: 5px;" (click)="redirctoTo('preguntados')" >Preguntados</button>
            <button type="button" class="btn-Home btn-default" style="margin-bottom: 5px;" (click)="redirctoTo('shooter')" >Punteria</button>
        </div>
    </div>


    <button type="button" class="btn btn-default" routerLink="quiensoy">Quien Soy</button>

    @if(supaBase.currentUser() ===  null){
        <button type="button" class="btn btn-default" routerLink="login" >Login</button>
        <button type="button" class="btn btn-default" routerLink="registro" >Registro</button>
    }
    @else {

        <div style="position: relative; left: 10%;">

            <button type="button" class="btn btn-default" routerLink="resultados">Resultados</button>
            <button type="button" class="btn btn-default" routerLink="encuesta">Encuesta</button>
            <button *ngIf="adminPosta" type="button" class="btn btn-default" routerLink="resultados-encuesta">Resultados de la Encuesta</button>
        </div>

        <div style="position: relative; right:-25%; display: flex; flex-direction: row;">

            <button type="button" class="btn btn-default" (click)="signOutSession()">Cerrar Sesion</button>
            <h3 style="margin-right: 15px;"> <i style="margin-right: 10px;" class="fa-solid fa-circle-user"></i>      Usuario: {{this.supaBase.currentUser()?.email}}</h3>

        </div>

    }

</div>
