<div class="backgroundGames">

    <div class="Game">
        <h1 class="h1-title" style="left: 3.5%;">Ahorcado</h1>

        @if(this.supaBase.currentUser() == null){
            <h3 style="top: 40%;">Para poder jugar al Ahorcado, primero tiene que iniciar sesión.</h3>
            <h3 style="top: 50%">En caso de no tener un usuario creado, registrarse...</h3>
        }
        @else {
    
            @if (countWrongAnswers < 8 && countWrongAnswers >= 1) {
                
                <i class="fa-solid fa-heart" style="position: fixed;font-size: 60px; top: 24%; left: 69%; z-index: 2000;" id="heart"></i>
            }
            @else if(countWrongAnswers == 8){
                <i class="fa-solid fa-heart-crack" style="position: fixed;font-size: 60px; top: 24%; left: 69%; z-index: 2000;" id="cracked-heart"></i>
            }

            <button class="btn-Play" *ngIf="!buttonPlay" (click)="play()">Jugar</button>
            
            <div class="hangManNoose">
                    <div class="head" id="head"></div>
                    <div class="torso" id="torso"></div>
                    <div class="drop" style="top: 32%; left: 65%;" id="drop1"></div>
                    <div class="leftarm" id="leftarm"></div>
                    <div class="rightarm" id="rightarm"></div>
                    <div class="drop" style="top: 33%; left: 65.5%;" id="drop2"></div>
                    <div class="leftleg" id="leftleg"></div>
                    <div class="rightleg" id="rightleg"></div>
                    <div class="drop" style="top: 34%; left: 65%;" id="drop3"></div>
                    <div class="leftfoot" id="leftfoot"></div>
                    <div class="rightfoot" id="rightfoot"></div>
            </div>
    
            @for (item of this.letterGuessedRight; track $index) {
    
                <div [ngSwitch]="item.idx">
    
                    <h1 class="letterGuessedRight" *ngSwitchCase="0" style="right: 800px;">{{item.letra}}</h1>
                    <h1 class="letterGuessedRight" *ngSwitchCase="1" style="right: 740px">{{item.letra}}</h1>
                    <h1 class="letterGuessedRight" *ngSwitchCase="2" style="right: 680px;">{{item.letra}}</h1>
                    <h1 class="letterGuessedRight" *ngSwitchCase="3" style="right: 620px;">{{item.letra}}</h1>
                    <h1 class="letterGuessedRight" *ngSwitchCase="4" style="right: 560px">{{item.letra}}</h1>
                    <h1 class="letterGuessedRight" *ngSwitchCase="5" style="right: 500px">{{item.letra}}</h1>
                    <h1 class="letterGuessedRight" *ngSwitchCase="6" style="right: 440px;">{{item.letra}}</h1>
                    <h1 class="letterGuessedRight" *ngSwitchCase="7" style="right: 380px;">{{item.letra}}</h1>
                    <h1 class="letterGuessedRight" *ngSwitchCase="8" style="right: 320px;">{{item.letra}}</h1>
                    <h1 class="letterGuessedRight" *ngSwitchCase="9" style="right: 260px;">{{item.letra}}</h1>
    
                </div>
            }

            <!-- <div class="letterSpace" style="right: 46%;" *ngIf="this.randomWord.length >= 1"></div>
            <div class="letterSpace fade-in" style="right: 42%;" *ngIf="this.randomWord.length >= 2"></div>
            <div class="letterSpace" style="right: 38%;" *ngIf="this.randomWord.length >= 3"></div>
            <div class="letterSpace fade-in" style="right: 34%;" *ngIf="this.randomWord.length >= 4"></div>
            <div class="letterSpace" style="right: 30%;" *ngIf="this.randomWord.length >= 5"></div>
            <div class="letterSpace fade-in" style="right: 26%;" *ngIf="this.randomWord.length >= 6"></div>
            <div class="letterSpace" style="right: 22%;" *ngIf="this.randomWord.length >= 7"></div>
            <div class="letterSpace fade-in" style="right: 18%;" *ngIf="this.randomWord.length >= 8"></div>
            <div class="letterSpace" style="right: 14%;" *ngIf="this.randomWord.length >= 9"></div>
            <div class="letterSpace fade-in" style="right: 10%;" *ngIf="this.randomWord.length >= 10"></div> -->

    
            <div *ngIf="buttonPlay" class="keyboard">
                <button class="letterBtn" onclick="this.disabled = true" (click)="this.guessLetter('Q')" id="q">Q</button>
                <button class="letterBtn" onclick="this.disabled = true" (click)="this.guessLetter('W')" id="w">W</button>
                <button class="letterBtn" onclick="this.disabled = true" (click)="this.guessLetter('E')" id="e">E</button>
                <button class="letterBtn" onclick="this.disabled = true" (click)="this.guessLetter('R')" id="r">R</button>
                <button class="letterBtn" onclick="this.disabled = true" (click)="this.guessLetter('T')" id="t">T</button>
                <button class="letterBtn" onclick="this.disabled = true" (click)="this.guessLetter('Y')" id="y">Y</button>
                <button class="letterBtn" onclick="this.disabled = true" (click)="this.guessLetter('U')" id="u">U</button>
                <button class="letterBtn" onclick="this.disabled = true" (click)="this.guessLetter('I')" id="i">I</button>
                <button class="letterBtn" onclick="this.disabled = true" (click)="this.guessLetter('O')" id="o">O</button>
                <button class="letterBtn" onclick="this.disabled = true" (click)="this.guessLetter('P')" id="p">P</button>
                <br>
                <button class="letterBtn" onclick="this.disabled = true" (click)="this.guessLetter('A')" id="a">A</button>
                <button class="letterBtn" onclick="this.disabled = true" (click)="this.guessLetter('S')" id="s">S</button>
                <button class="letterBtn" onclick="this.disabled = true" (click)="this.guessLetter('D')" id="d">D</button>
                <button class="letterBtn" onclick="this.disabled = true" (click)="this.guessLetter('F')" id="f">F</button>
                <button class="letterBtn" onclick="this.disabled = true" (click)="this.guessLetter('G')" id="g">G</button>
                <button class="letterBtn" onclick="this.disabled = true" (click)="this.guessLetter('H')" id="h">H</button>
                <button class="letterBtn" onclick="this.disabled = true" (click)="this.guessLetter('J')" id="j">J</button>
                <button class="letterBtn" onclick="this.disabled = true" (click)="this.guessLetter('K')" id="k">K</button>
                <button class="letterBtn" onclick="this.disabled = true" (click)="this.guessLetter('L')" id="l">L</button>
                <button class="letterBtn" onclick="this.disabled = true" (click)="this.guessLetter('Ñ')" id="ñ">Ñ</button>
                <br>
                <button class="letterBtn lastRow" onclick="this.disabled = true" (click)="this.guessLetter('Z')" id="z">Z</button>
                <button class="letterBtn lastRow" onclick="this.disabled = true" (click)="this.guessLetter('X')" id="x">X</button>
                <button class="letterBtn lastRow" onclick="this.disabled = true" (click)="this.guessLetter('C')" id="c">C</button>
                <button class="letterBtn lastRow" onclick="this.disabled = true" (click)="this.guessLetter('V')" id="v">V</button>
                <button class="letterBtn lastRow" onclick="this.disabled = true" (click)="this.guessLetter('B')" id="b">B</button>
                <button class="letterBtn lastRow" onclick="this.disabled = true" (click)="this.guessLetter('N')" id="n">N</button>
                <button class="letterBtn lastRow" onclick="this.disabled = true" (click)="this.guessLetter('M')" id="m">M</button>
            </div>
            <br><br><br><br>
            <h1 class="h1-title" style="font-size: 70px; left: 10%;">Puntaje: {{this.points}}</h1>

            <!-- @for(item of this.getLetters(); track $index){

                <div style="width: 300px; align-items: center; justify-content: center;">
                    <div class="letterSpace"></div>
                </div>
            } -->
        
            <div class="message" id="msg">
                
                <div>
                  <br><br>
                    @if(gameLost){
                        <p>No ha podido conseguir adivinar la palabra "{{this.randomWord}}".</p>
                        <p>Su puntaje total es de {{this.points}} puntos</p>
                    }
                    @if(gameWon){
                        <p>¡Felicitaciones! Adivinó la palabra "{{this.randomWord}}".</p>    
                        <p>Su puntaje total es de {{this.points}} puntos</p>         
                    }

                </div>  
            </div>
    
            @if(gameLost || gameWon) {
                
                <button class="floatBtn" (click)="restartGame()"><i class="fa-solid fa-rotate" style="font-size: 80px;"></i></button>
                <button *ngIf="!gameSaved" class="floatBtn" style="top: 78%;" (click)="saveDataGame()"><i class="fa-solid fa-floppy-disk" style="font-size: 80px;"></i></button>
                <h3 *ngIf="!gameSaved" class="fade-in" style="left: 86%; top: 45%; position: fixed; line-height: 50px;">Guardar Partida</h3>
                <i *ngIf="!gameSaved" class="fade-in" style="left: 92.5%; top: 65%; position: fixed;" class="fa-solid fa-down-long"></i>
            }

            <div class="gameSaved" id="game-saved">
                <p style="font-size: 45px;">¡Partida guardada con éxito!</p>
            </div>

            <div style="width: 700px; height: 50px; display: flex; position: fixed; top: 88%; left: 48%;">
                @for (item of this.randomWord; track $index) {
                    <i style="margin-right: 15px;" class="letterSpace"></i>
                }
            </div>

        }
    </div>

</div>