
@font-face {
    font-family: "westernFont";
    src: url('../../../../../../../Downloads/dakota-font/DakotaRegular-eZpj6.ttf');
}

@keyframes slideInFromTop {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

@keyframes slideInFromBelow {
    0% {
      transform: translateY(50%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
      transform: translateX(1000%);
    }
    100% {
      transform: translateX(0);
    }
}

.backgroundLogin{
    background-image: url("../../assets/backgroundWestern.jpg");
    position: absolute;
    z-index: 0;
    height: 91.7%;
    width: 100%;
}

.Login{
    font-family: 'westernFont';
	position: relative;
	top: 28%;
	left: 39%;
	margin: -150px 0 0 -150px;
	width: 700px;
	height: 650px;
	background: rgba(255, 255, 255, 0.06);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(14.5px);
	-webkit-backdrop-filter: blur(14.5px);
	border: 2px solid bisque;
	padding: 30px;
    animation: 1s ease-out 0s 1 slideInFromTop;
}

h1{
    font-size: 103px;
    position: relative;
    left: 20.3%;
    margin-bottom: 25px;
    color: bisque;
    text-shadow: 5px 5px 5px black;
    animation: 2s ease-out 0s 1 slideInFromTop;
}

.container{
    width: 165%;
}

.form-control{
    font-size: 20px;
    width: 59%; 
    background-color: bisque;
    margin-bottom: 25px;
    transition: 1s;
    height: 40px;
    animation: 2s ease-out 0s 1 slideInFromTop;

    &:focus{
        background-color: rgba(190, 12, 12, 0.685);
        border-color: bisque;
        color: bisque;
    }
}

.btn{
    background-color: rgba(190, 12, 12, 0.685);
    font-size: 30px;
    margin-top: 15px;
    width: 59%;
    border-color: bisque;
    transition: 1s;
    color: bisque;
    animation: 2s ease-out 0s 1 slideInFromLeft;

    &:hover{
        background-color: black;
        border-color: bisque;
        color: #E73332;
    }

    &:focus{
        background-color: black;
        border-color: #E73332;
        color: bisque;
    }
}

.eyepassword{
    position: fixed;
    top: 40%;
    left: 85.9%;
    border: transparent;
    background-color: transparent; 
    color: azure; 
    font-size: 20px;
    animation: 2s ease-out 0s 1 slideInFromRight;
}

i{
    color: black;
}

.messageError{
    width: 650px;
    height: 100px;
    background-color: bisque;
    border: 1px solid rgba(190, 12, 12, 0.685);
    border-radius: 5%;
    text-align: center;
    position: absolute;
    top: 80%;
    left: 3.3%;
    visibility: hidden;
    transform: scale(1);
    transition: transform 0.4s, top 0.4s;
}

.open-msgError{
    visibility: visible;
    top: 50%;
    transform: scale(1);
}

p{
    font-size: 25px;
}


