<div class="backgroundLogin">

<div class="Login">

    <div class="container">
        <h1>Login</h1>
        <form>
          <div class="form-group">
            <input type="email" class="form-control" id="email" placeholder="Ingrese su Email" [(ngModel)]="email" [ngModelOptions]="{standalone:true}"/>
            <input [type]="show ? 'text':'password'" class="form-control" id="pwd" placeholder="Ingrese su Contraseña" [(ngModel)]="password" [ngModelOptions]="{standalone:true}"/>
            <button type="button" class="eyepassword" (click)="showHidePassword()">
                @if(show == true){
                    <i class="fa-regular fa-eye"></i>
                }
                @else {
                    <i class="fa-regular fa-eye-slash"></i>
                }
            </button>
          </div>
          <button type="submit" class="btn btn-default" (click)="userLogin('home')">Ingresar</button>
        </form>
      </div>

</div>
 

</div>
