@font-face {
    font-family: "westernFont";
    src: url('../../../../../../../Downloads/dakota-font/DakotaRegular-eZpj6.ttf');
}

@keyframes slideInFromTop {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

@keyframes slideInFromBelow {
    0% {
      transform: translateY(500%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
      transform: translateX(1000%);
    }
    100% {
      transform: translateX(0);
    }
}

.backgroundHome{
    background-image: url("../../assets/backgroundWestern.jpg");
    position: absolute;
    z-index: 0;
    height: 91.7%;
    width: 100%;
}

.iconGun{
    background-image: url("../../assets/iconGun.jpg");
    position: absolute;
    top: 20%;
    left: 35%;
    width: 70px;
    height: 70px;
}

.Home{
    font-family: 'westernFont';
    text-shadow: 5px 5px 5px black;
	position: relative;
	top: 26%;
	left: 16%;
	margin: -150px 0 0 -150px;
    border-radius: 0%;
	width:1600px;
	height:700px;
	background: rgba(255, 255, 255, 0.06);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(14.5px);
	-webkit-backdrop-filter: blur(14.5px);
	border: 2px solid bisque;
	padding: 30px;
    animation: 1s ease-out 0s 1 slideInFromTop;
}

h1{
    font-size: 120px;
    position: relative;
    left: 3.5%;
    color: bisque;
    text-shadow: 5px 5px 5px black;
    margin-bottom: 40px;
    animation: 2s ease-out 0s 1 slideInFromTop;
}

h3{
    font-size: 60px;
    left: 2.5%;
    position: fixed;
    color: bisque;
    text-shadow: 5px 5px 5px chocolate;
    animation: 2s ease-out 0s 1 slideInFromBelow;
}