<div class="backgroundQuienSoy">

    <div class="quienSoy">

        <h1>Quien Soy</h1>

        <h3>Datos Personales</h3>
        <h4>Alumno: Francisco Díaz Barbacovi</h4>
        <h4>Desarrollador Web</h4>
        <h4>Cursando Labo IV</h4>
        <h3>Juego: Punteria</h3>
        <div class="shooter"></div>
        <h4>
            Al comenzar el juego, van a ir apareciendo blancos en la pantalla.<br>
            Se tiene 30 seg para hacer click en la mayoría de blancos. <br>
            Cada blanco clickeado, son +10 puntos. <br>
            ¡Hay que ser veloz!
        </h4>

        <div class="fotoFranDiaz">
        </div>

    </div>
    
</div>
