
@font-face {
    font-family: "westernFont";
    src: url('../../../../../../../Downloads/dakota-font/DakotaRegular-eZpj6.ttf');
}

.backgroundQuienSoy{
    background-image: url("../../assets/backgroundWestern.jpg");
    position: absolute;
    z-index: 0;
    height: 91.7%;
    width: 100%;
}

@keyframes slideInFromTop {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}

@keyframes fadeIn {
    
      from {opacity: 0};
      to {opacity: 1};

}

@keyframes slideInFromBelow {
    0% {
      transform: translateY(150%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
}

.quienSoy{
    font-family: 'westernFont';
	position: relative;
	top: 26%;
	left: 30.5%;
	margin: -150px 0 0 -150px;
    border-radius: 0%;
	width:1000px;
	height:700px;
	background: rgba(255, 255, 255, 0.06);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(14.5px);
	-webkit-backdrop-filter: blur(14.5px);
	border: 2px solid bisque;
	padding: 30px;
    animation: 1s ease-out 0s 1 slideInFromTop;
}

.fotoFranDiaz{
    background-image: url("../../assets/FranDiazFoto.jpg");
    position: relative;
    width: 250px;
    height: 350px;
    left: 65%;
    top: -80%;
    animation: 2s ease-out 0s 1 slideInFromBelow;
    border: 2px solid rgba(190, 12, 12, 0.685);
}

h1{
    font-size: 103px;
    position: relative;
    left: 3.5%;
    color: bisque;
    text-shadow: 5px 5px 5px black;
    margin-bottom: 20px;
    animation: 2s ease-out 0s 1 slideInFromTop;
}

h4{
    font-size: 33px;
    position: relative;
    left: 3.5%;
    color: bisque;
    text-shadow: 5px 5px 5px rgba(190, 12, 12, 0.685);
    animation: 2s ease-out 0s 1 slideInFromRight;
}

h3{
    font-size: 43px;
    position: relative;
    left: 3.5%;
    color: bisque;
    text-shadow: 5px 5px 5px black;
    animation: 2s ease-out 0s 1 slideInFromLeft;
}