<div class="backgroundHome">

    <div class="Home">

        <h1>Wild West Games  <i class="fa-solid fa-hat-cowboy"></i></h1>
  
        <div class="container" style="display: flex; left: -10%; position: relative;">

            <button class="higherLowerImage pulse"></button>

            <button class="hangManImage pulse"></button>

            <button class="triviaImage pulse"></button>
        </div>

        <br>

        <div class="container" style="display: flex; left: -10%; position: relative;">

            <h4 style="left: 1%;">Mayor o Menor</h4>
            <h4 style="left: 6%;">Ahorcado</h4>
            <h4 style="left: 13%;">Preguntados</h4>

        </div>


    </div>
    
</div>
